*.pyc
*.pyo
*.scssc
*~
*.DS_Store
django/vault/local_settings.py
j2me/ScredClient/ScredClient.xcodeproj/setok.mode1
j2me/ScredClient/ScredClient.xcodeproj/setok.pbxuser
j2me/ScredClient/build/*
.project
.pydevproject
.settings/
.env
django/build/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/vault-core/
debian/vault-static/
debian/vault/
debian/vault-demo/
django/vault/media/
*.egg-info
#*#
debian/files
debian/vault-scripts/
debian/vault-production/
django/vault/_generated_media/
debian/vault-admin/
admin/build/
admin/vault_admin/local_settings.py
django/vault/vault.db
debian/vault-common/
django/test_data.txt
django/vault/dev
django/vault/_generated_media_names.py
admin/vault_admin/_generated_media/
admin/vault_admin/_generated_media_names.py
static/vault-static/vault-static/
celery/MANIFEST
celery/dist
mail/
